{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
  "globals": {
    "shallow": true,
    "render": true,
    "mount": true,
    "shallowSnapshot": true,
    "mountSnapshot": true,
    "renderSnapshot": true,
    "matchSnapshot": true
  },
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "rules": {
    "no-case-declarations": 0,
    "no-extra-boolean-cast": 0,
    "no-useless-escape": 0,
    "react/display-name": 0,
    "react/no-find-dom-node": 0,
    "react/no-string-refs": 0
  },
  "settings": {
    "react": {
      "createClass": "createClass",
      "version": "0.14.9"
    },
    "linkComponents": ["Hyperlink", { "name": "Link", "linkAttribute": "to" }]
  }
}
