.kbc-main-content.reset-overflow {
  overflow: visible;
}

.storage-explorer {
  .panel.storage-panel {
    &.is-active {
      border-left: 2px solid #15c3ff;
    }

    + .storage-panel {
      margin-top: 0;
    }

    .panel-heading > .panel-title > a {
      padding: 5px 5px 5px 15px;
    }

    .panel-body {
      padding: 15px;

      ul {
        margin-bottom: 0;
      }

      a.active {
        font-weight: 600;
      }
    }

    .storage-bucket-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .storage-bucket-tables {
      padding-left: 16px;
    }

    .storage-bucket-table-link {
      display: block;
    }
  }

  .storage-table-overview {
    tbody > tr > td:first-of-type {
      width: 220px;
    }
  }

  .storage-search-bar {
    padding-right: 15px;
  }

  .nav-tabs + .storage-search-bar {
    padding: 0 15px;
    margin-bottom: 1em;
  }

  .is-table-alias {
    border-bottom: 1px dotted #08c;
  }

  .storage-inline-action {
    margin-left: 5px;
  }

  .storage-buckets-sidebar {
    margin-left: 1em;
    .searchbar {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    mark, .mark {
      padding: 0;
      background-color: #fea;
    }
  }

  .fast-fade {
    opacity: 0;
    transition: opacity 50ms linear;

    &.in {
      opacity: 1;
    }
  }

  .files-action-buttons {
    text-align: center;
    > span {
      display: inline-block;
      padding: 7px 12px; // button-like padding
    }
  }

  .files-inner-table {
    td {
      padding-right: .8em;
    }
  }
}
