.panel.storage-panel {
  + .storage-panel {
    margin-top: 0px;
  }

  .panel-heading > .panel-title > a {
    padding: 5px 15px;
  }

  .panel-body {
    padding: 15px;

    .storage-table-name {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .storage-bucket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.storage-table-overview {
  tbody > tr > td:first-of-type {
    width: 220px;
  }
}

.storage-search-bar {
  padding-right: 15px;
}

.nav-tabs + .storage-search-bar {
  padding: 0 15px;
}

a.alias {
  border-bottom: 1px dotted #08c;
}

.storage-inline-action {
  margin-left: 5px;
}

.kbc-main-content.reset-overflow {
  overflow: visible;
}

.storage-buckets-sidebar {
  margin-left: 1em;
}

.searchbar {
  margin-bottom: 1em;
}
