@media screen and (max-width: 768px) {
  body {
    padding-top: 120px;
  }

  .kbc-logo {
    position: initial;
    border-bottom: none;

    > a:nth-child(2) {
      display: none;
    }
  }

  .kbc-sidebar .kbc-project-select .dropdown-toggle > .icon {
    top: 19px;
  }

  .kbc-navbar {
    height: 120px;
    background: none;

    & > .kbc-main-header-container {
      float: left;
      width: 100%;
      background: white;
    }
  }

  .sidebar-offset-row {
    position: relative;

    &.active {
      .sidebar-offset {
        transform: translate3d(0, 0, 0);
      }

      .kbc-main > .container-fluid {
        opacity: 0.3;
        overflow: hidden;
        max-height: calc(100vh - 150px);
        transition: all 0.15s ease-out;
      }
    }
  }

  .sidebar-offset {
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 1040;
    width: 100%;
    transition: all 0.15s ease-out;
    transform: translate3d(-100%, 0, 0);
  }
}
