.rc-switch-wrapper {
  display: inline;
  padding: 7px 12px;
}

.rc-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 38px;
  height: 18px;
  line-height: 16px;
  padding: 0;
  vertical-align: middle;
  border-radius: 18px 18px;
  border: 1px solid #bdc0c9;
  background-color: #bdc0c9;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);

  & > .fa-spinner {
    position: relative;
    right: auto;
    left: 8px;
  }

  &-inner {
    color: #4a6921;
    font-size: 10px;
    position: absolute;
    left: 24px;
    top: 0;
  }

  &:after {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 2px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: #fff;
    content: " ";
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  }

  &:focus {
    box-shadow: 0 0 0 2px tint(#2db7f5, 80%);
    outline: none;
  }

  &-checked {
    border: 1px solid #a0c66f;
    background-color: #a0c66f;

    .rc-switch-inner {
      left: 6px;
    }

    &:after {
      left: 20px;
    }

    & > .fa-spinner {
      position: relative;
      right: 8px;
      left: auto;
    }
  }

  &-disabled {
    cursor: no-drop;
    background: #ccc;
    border-color: #ccc;

    &:after {
      background: #9e9e9e;
      cursor: no-drop;
    }
  }

  &-label {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    user-select: text;
  }

  &-big {
    width: 80px;
    height: 40px;
    line-height: 36px;

    &:after {
      width: 30px;
      height: 30px;
      left: 4px;
      top: 3px;
    }

    .rc-switch-inner {
      font-size: 19px;
      left: 49px;
    }

    &.rc-switch-checked {
      .rc-switch-inner {
        left: 16px;
      }

      &:after {
        left: 42px;
      }
    }
  }
}
